<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ name }}</title>
    <link data-trunk rel="rust" data-wasm-opt="0" data-keep-debug="true" />
  </head>
  <body></body>
</html>
