use leptos::*;
use leptos_meta::*;
use leptos_router::*;

use crate::pages::home::HomePage;
use crate::pages::post::PostDetailsPage;
use crate::pages::sign_in::SignInPage;
use crate::pages::sign_out::SignOutPage;
use crate::pages::sign_up::SignUpPage;

#[component]
pub fn App(cx: Scope) -> impl IntoView {
    // Provides context that manages stylesheets, titles, meta tags, etc.
    provide_meta_context(cx);

    view! {
        cx,

        // injects a stylesheet into the document <head>
        // id=leptos means cargo-leptos will hot-reload this stylesheet
        <Stylesheet id="leptos" href="/pkg/{{ name }}.css"/>

        // sets the document title
        <Title text="Welcome to Leptos"/>

        // content for this welcome page
        <Router>
            <main>
                <Routes>
                    <Route path="" view=|cx| view! { cx, <HomePage/> }/>
                    <Route path="/posts/:id" view=|cx| view! { cx, <PostDetailsPage/> }/>
                    <Route path="/sign_up" view=|cx| view! { cx, <SignUpPage/> }/>
                    <Route path="/sign_in" view=|cx| view! { cx, <SignInPage/> }/>
                    <Route path="/sign_out" view=|cx| view! { cx, <SignOutPage/> }/>
                </Routes>
            </main>
        </Router>
    }
}
